<div class="page_header">
	<h1>Editing the <%= @space.name %> Space</h1>
</div>

<%= error_messages_for :space %>

<% form_for(@space) do |f| %>

	<p>
		<b>Friendly Name</b><br />
		<%= f.text_field :name %>
	</p>

	<p>
		<b>Key</b><br />
		<%= f.text_field :key %>
	</p>

	<p>
		<b>Description</b><br />
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit "Update" %> or <%= link_to 'Cancel', @space %>
	</p>
	
<% end %>
